<div class="detallesDestinoValidar">
  <h3>Detalles Destino a Validar</h3>
  <div>
    
    <div class="card" style="width: 600px; height:730px">
      <div class="validateImage">
        <img src="{{this.allDetails.image}}" class="card-img-top pruebasimag" alt="image" />
      </div>
      <div class="card-body detallesDestinoValidarTexts">
        <div>
          <h5 class="card-title">{{this.allDetails.title}}</h5>
          <hr />
          <h6 class="card-title">Precio: {{this.allDetails.price}} €</h6>
          <h6 class="card-title">Plazas: {{this.allDetails.maxPeople}}</h6>
          <h6 class="card-title">Lider:
            {{this.allDetails.lider.firstName}}
            {{this.allDetails.lider.lastName}}</h6>
          <h6 class="card-title">Fecha: {{this.formatDate}}</h6>
          <hr>
        </div>
        
        <div class="detallesDestinoValidarBtns">
          <form
            action="/admin/{{this.allDetails._id}}/validate/aceptar"
            method="post"
          >
            <button
              class="detallesDestinoValidarBTN"
              type="submit"
              name="{{this.allDetails.isValidated}}"
            >Aceptar</button>
          </form>

          <form
            action="/admin/{{this.allDetails._id}}/validate/denegar"
            method="post"
          >
            <button
              class="detallesDestinoValidarBTN"
              type="submit"
              name="{{this.allDetails.isValidated}}"
            >Rechazar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>