<div class="listaUsuarios">
  <h3>Lista de usuarios</h3>
  <div>
    <div class="listaUsuariosContainer">

      {{#each allUsers}}

        <div class="card mb-3 cartaListaUsuario" style="max-height: 420px;">
          <div class="row g-0">
            <div class="col-md-8 ">
            
              <div class="card-body informacionUsuario">
                <img
                  class="listaUsuariosImg"
                  src="{{this.image}}"
                  alt="imagen"
                />
                <h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
                <p class="card-text">{{this.email}}</p>
                <p class="card-text">{{this.phone}}</p>

                <p class="card-text"><small class="text-body-secondary">Rol:
                    {{this.rol}}</small></p>

              </div>
            </div>
          </div>
          <form action="/admin/userlist/{{this._id}}/delete" method="post">
            <button
              class="btn btn-primary listaUsuariosBtn"
              type="submit"
            >Eliminar Usuario</button>
          </form>
        </div>

      {{/each}}
    </div>

  </div>
</div>