<div class="listaPorValidar">
  <div>
    <h3>Expediciones Por Validar</h3>
    <div class="listaPorValidarContainer" >
      {{#each allDestines}}
        <a href="/admin/{{this._id}}/validate">

          <div class="card listaPorValidarCard" >
                <img
                src="{{this.image}}"
                class="card-img listaPorValidarImg"
                alt="image"
                height="300px"
                width="300px"
                />
                <div class="card-body textwrap">
                  <h5 class="card-title ">{{this.title}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{this.lider.firstName}}
                        {{this.lider.lastName}}</li>
                    <li class="list-group-item">{{this.formatedDate}}</li>
                </ul>
          </div>
        </a>
      {{/each}}
    </div>

</div>