<div>
<h1>Mi Perfil</h1>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{this.userDetails.image}}" class="img-fluid rounded-start" alt="image">
      <a href="/profile/{{this.userDetails._id}}/image"><button>editar imagen</button></a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Usuario: {{this.userDetails.firstName}} {{this.userDetails.lastName}}</h5>
        <p class="card-text">Rol: {{this.userDetails.rol}}</p>
        <p class="card-text"><small class="text-body-secondary">Email: {{this.userDetails.email}}</small></p>
        <p class="card-text"><small class="text-body-secondary">Telefono: {{this.userDetails.phone}}</small></p>
        <a href="/profile/{{this.userDetails._id}}/edit"><button>editar</button></a>
      </div>
    </div>
  </div>
</div>
<hr>
<h3>Viajes a los que me he apuntado</h3>

{{#each this.userDetails.viajesApuntado}}
<a href="/destinos/{{this._id}}" >
<div class="card" style="width: 18rem;">
  <img src="{{this.image}}" class="card-img-top" alt="image" width="180px">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <h5 class="card-title"><small>{{this.formatedDate}}</small></h5>
  </div>
</div></a>
{{/each}}
<hr>
<h3>Viajes que he creado</h3>

{{#each this.allDestines}}
<div class="card" style="width: 18rem;">
  <img src="{{this.image}}" class="card-img-top" alt="image" width="180px">
  <div class="card-body">
    <h5 class="card-title">{{this.title}} : {{this.isValidated}}</h5>
    <a href="/destinos/{{this._id}}/edit" class="btn btn-primary">editar</a>
  </div>
</div>
{{/each}}
{{!-- _____________________________________________________________________ --}}