<div class="perfil">
  <h1>Mi Perfil</h1>

  <div class="card mb-3 perfilCompleto" style="max-width: 700px;">
    <div class="row g-0 ">
      <div class="col-md-4 imagenpPerfil">
        <img
          src="{{this.userDetails.image}}"
          class="img-fluid rounded-start"
          alt="image"
        />
        <a href="/profile/{{this.userDetails._id}}/image"><button class="btn btn-primary perfilBtn ajustarPerfilBtn">editar imagen</button></a>
      </div>
      <div class="col-md-8" >
        <div class="card-body carta-perfil">
          <div class="contenedorDatosUsuario">
            <h5 class="card-title">Usuario:
              {{this.userDetails.firstName}}
              {{this.userDetails.lastName}}</h5>
              <br>
            <p class="card-text">Rol: {{this.userDetails.rol}}</p>
            <br>
            <p class="card-text"><small class="text-body-secondary">Email:
                {{this.userDetails.email}}</small></p>
                <br>
            <p class="card-text"><small class="text-body-secondary">Telefono:
                {{this.userDetails.phone}}</small></p>
          </div>
          <a href="/profile/{{this.userDetails._id}}/edit"><button
            class="btn btn-primary perfilBtn ajustarPerfilBtn2">editar</button></a>
        </div>
      </div>
    </div>
  </div>

  <hr style="height: 10px; width:100%">

  <h3>Viajes a los que me he apuntado</h3>

  <div class="lista-destinos-perfil">
    {{#each this.userDetails.viajesApuntado}}
      <a href="/destinos/{{this._id}}">
        <div>
          <div class="card profileCard" style="width: 200px; height: 350px">
            <div>
              <img src="{{this.image}}" class="card-img-top" alt="image" />
            </div>
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
            </div>
            <div class="card-body">
              <h6 class="card-text"><small>{{this.formatedDate}}</small></h6>
            </div>
          </div>
        </div>
      </a>
    {{/each}}
  </div>

<hr style="height: 10px; width:100%">

{{#if isUserLoggedAsUsuario}}
    {{else}}
<h3>Viajes que he creado</h3>

  <div class="lista-destinos-perfil">
    {{#each this.allDestines}}
      <div class="card profileCard" style="width: 200px; height: 380px">
        <div>
          <img
            src="{{this.image}}"
            class="card-img-top"
            alt="image"
            width="180px"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
        </div>

        <div class="card-body">
          <h6 class="card-text"><small> {{this.isValidated}}</small></h6>
        </div>
        <a href="/destinos/{{this._id}}/edit" class="botonperfil"> editar</a>
      </div>
    {{/each}}

    {{/if}}
  </div>
</div>