<div class="about-slide">
  <h3>Acerca de Nosotros</h3>
  <div>
    <div class="aboutTextos">
      <p style="max-width:65vw">Somos una empresa de viajes de autor fundada por dos jóvenes apasionados por explorar el mundo. Nuestro objetivo es ofrecer experiencias únicas y personalizadas, diseñadas con un toque de originalidad y creatividad. </p>
      <p style="max-width:65vw">Nos esforzamos por crear itinerarios cuidadosamente curados que reflejen nuestro espíritu aventurero y enfoque innovador. Permítenos ser tus guías en este viaje inolvidable, donde cada destino se convierte en una historia que contar.</p>
<div style="heigth:25px; width:100vw">
<hr
  style="border: none;  height: 12px; background: linear-gradient(to right, #2e2d29, #e8e0cd, #2e2d29);"
>
</div>
      <div class="contenedorGrande">

        <div class="contenedorJonathan">
          <img src="images/Jonathan/perfil.jpg" alt="foto" style="width:400px; border-radius:10px">
          <div>
            <h5>Jonathan Iglesias</h5>
            <p>Johnny es un apasionado viajero con sed de aventuras y curiosidad insaciable. Su mayor pasión es sumergirse en nuevas culturas y descubrir las maravillas de cada rincón del mundo. Con una mochila al hombro y una sonrisa en el rostro, Johnny se embarca en viajes que enriquecen su espíritu y le permiten conectar con personas de diferentes orígenes. Su entusiasmo por aprender y compartir experiencias lo convierte en un verdadero embajador de la diversidad cultural. Siempre listo para la próxima travesía, Johnny inspira a otros a seguir sus sueños y vivir la vida al máximo a través de los viajes.</p>
          </div>
        </div>

         <div class="contenedorAlvaro">
          <div>
            <h5>Alvaro Martinez</h5>
            <p>Álvaro es un incansable aventurero enamorado de los viajes. Su espíritu libre lo impulsa a explorar nuevos horizontes y sumergirse en diferentes culturas. Con una mochila llena de sueños y una mente abierta, Álvaro se adentra en cada destino con entusiasmo y curiosidad. Disfruta de cada experiencia como una oportunidad de crecimiento personal y de conexión con el mundo que lo rodea. Su pasión por los viajes lo motiva a buscar constantemente nuevas emociones y recuerdos inolvidables. Álvaro es un viajero inspirador que nos enseña la importancia de vivir la vida al máximo a través de la exploración y el descubrimiento.</p>
          </div>
          <img src="images/Alvaro/perfil.png" alt="foto" style="width:400px; border-radius:10px">
        </div>

      </div>
<div style="heigth:25px; width:100vw">
<hr
  style="border: none;  height: 12px; background: linear-gradient(to right, #2e2d29, #e8e0cd, #2e2d29);"
>
</div>

      <h3>Nuestra filosofia</h3>

      <p style="max-width:80vw">En nuestra empresa de viajes, la filosofía se fundamenta en brindar experiencias inolvidables y enriquecedoras a nuestros clientes. Creemos en la importancia de explorar el mundo y conectar con diferentes culturas para ampliar horizontes y promover el entendimiento global.
        <br>
        Nos esforzamos por ofrecer un servicio de alta calidad, donde cada detalle cuenta. Buscamos la excelencia en la planificación de itinerarios, la selección de destinos fascinantes y la elección de alojamientos y actividades que superen las expectativas de nuestros viajeros.
      </p>

      <p style="max-width:80vw">Valoramos la sostenibilidad y el respeto por el medio ambiente. Fomentamos el turismo responsable, promoviendo prácticas eco-amigables y apoyando proyectos locales que contribuyan al desarrollo sostenible de las comunidades que visitamos.
        <br>
        Nuestro equipo está formado por expertos en viajes, apasionados por descubrir nuevos lugares y entusiastas en brindar un servicio personalizado. Nos esforzamos por entender las necesidades y preferencias individuales de cada cliente, adaptando nuestros servicios para asegurar una experiencia única y a medida.
      </p>

      <p style="max-width:80vw">
      En nuestra empresa, la honestidad y la transparencia son valores fundamentales. Estamos comprometidos a proporcionar información clara y precisa, garantizando la confianza de nuestros clientes en cada etapa del viaje.
      <br>
      Nos enorgullece crear memorias duraderas y momentos especiales para aquellos que confían en nosotros. Creemos que los viajes pueden transformar vidas, abrir mentes y despertar la curiosidad innata que todos llevamos dentro.
      <br>
      En resumen, nuestra filosofía se basa en ofrecer experiencias extraordinarias, promover la sostenibilidad, brindar un servicio personalizado y fomentar la curiosidad por el mundo. Estamos comprometidos en hacer realidad los sueños de viaje de nuestros clientes y en convertir cada viaje en una aventura única e inolvidable.
      </p>

    </div>
<div style="heigth:25px; width:100vw">
<hr
  style="border: none;  height: 12px; background: linear-gradient(to right, #2e2d29, #e8e0cd, #2e2d29);"
>
</div>
    <div id="liders-container">
      <h3>Nuestros Lideres de Expedicion</h3>
      {{! carrusel entero }}
      <div class="contenedor-carrusel">
        {{! data-bs-ride para activar el carrusel }}
        <div
          id="carouselExampleInterval"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          {{! indicadores para navegacion }}
          <div class="indicator-container">
             <ol class="carousel-indicators">
            {{#each this.allUsers}}
              {{! primer elemento del carrusel }}
              <li data-bs-target="#carouselExampleInterval" data-bs-slide-to="{{@index}}" {{#if @first}}class="active"{{/if}}></li>
            {{/each}}
          </ol>
          </div>
         
          {{! agregar active y control de tiempo entre los intercambios y la info de cada carta }}
          <div class="carousel-inner">
            {{#each this.allUsers}}
              <div class="carousel-item {{#if @first}}active{{/if}}" data-bs-interval="{{#if @first}}3000{{else}}3000{{/if}}">
              <div class="card" style="width: 18rem;">
                <img src="{{this.image}}" class="card-img-top" alt="image">
                <div class="card-body">
                  <h5 class="card-title">{{this.firstName}} {{this.lastName}}</h5>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div>
        {{! botones de navegacion }}
        <div class="flechas-carrusel">
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleInterval"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>