<div class="detallesDestinoValidar">
  <h3>Detalles Destino</h3>
  <div>
    <div class="card arregloCard" style="width: 1200px; height:550px">
      <img
        src="{{this.allDetails.image}}"
        class="card-img-top"
        alt="image"
        style="width:750px"
      />
      <div class="card-body detallesDestinoValidarTexts">
        <div>
          <img
            src="/images/logo-removebg-preview.png"
            alt="imagen"
            style="width:70px"
          />
          <hr />
          <h5 class="card-title">{{this.allDetails.title}}</h5>
          <hr />
          <h5 class="card-title"><small>Precio:
              <br />
              <small>{{this.allDetails.price}} €</small>
            </small>
          </h5>
          <br />
          <h5 class="card-title"><small>Plazas:
              <br />
              <small>{{this.allDetails.maxPeople}}</small>
            </small></h5>
          <br />
          <h5 class="card-title">Lider:
            <br />
            <small>{{this.allDetails.lider.firstName}}
              {{this.allDetails.lider.lastName}}</small>
          </h5>
          <br />
          <h5 class="card-title">Fecha:
            <br />
            <small>{{this.formatDate}}</small>
          </h5>

          <form action="/destinos/{{this.allDetails._id}}/join" method="post">
            <button
              class="btn btn-primary loginBtn"
              type="submit"
              style="width:100%; position:relative; top:10px"
            >Apuntarme al viaje</button>
          </form>
        </div>
      </div>
    </div>
    <div class="ajuste-cartas">
      <div class="errorMessage">
        {{#if this.errorJoinMessage}}
          <p style="color: red">{{this.errorJoinMessage}}</p>
        {{/if}}
      </div>

      <hr
        style="border: none;  height: 12px; background: linear-gradient(to right, #000000, #e8e0cd, #000000);"
      />

      <div class="detallesDetalles" style="max-width: 1200px">
        <h5>Detalles de la expedicion</h5>
        <p class="card-text">{{this.allDetails.details}}</p>
      </div>
    </div>
  </div>
</div>