<div class="titulo-expediciones">
  <h3>Expediciones</h3>

  <div
    class="btn-group"
    role="group"
    aria-label="Button group with nested dropdown"
  >

    <div class="btn-group color" role="group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Filtra por precio
      </button>
      <ul class="dropdown-menu">
        <li>
          <form action="/destinos/mayorMenor" method="post">
            <button class="dropdown-item ab" type="submit"> Descendente</button>
          </form>
        </li>
        <li>
          <form action="/destinos/menorMayor" method="post">
            <button class="dropdown-item bc" type="submit">Ascendente</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <hr />
</div>

<div class="lista-destinos">
    {{#each allDestines}}
      <a href="/destinos/{{this._id}}">
        <div class="card" style="width: 300px; height: 440px" >
          <div>
          <img
            src="{{this.image}}"
            class="card-img-top"
            alt="image"
            width="200px"
            
          />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              
              {{! imagen }}
              {{this.lider.firstName}}
              {{this.lider.lastName}}
            </li>
            <li class="list-group-item">
              {{this.price}}
              €
            </li>
            <li class="list-group-item">
              {{! imagen }}
              {{this.formatedDate}}
            </li>
          </ul>
        </div>
      </a>
    {{/each}}
</div>